.app-wrapper {
  background: radial-gradient(80% 80% at 80% 145%,#06f 0,rgba(0,102,255,0) 100%);
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance {
  overflow-wrap: break-word;
  font-size: 2.5rem;
  font-weight: bold;
}

.app-logo {
  width: 120px;
  display: inline-block;
  margin-inline-end: 8px;
  object-fit: contain;
}

.loading-text {
  font-size: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
}

.content-wrapper {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
}

.header button {
  width: 40px;
  height: 100%;
  border: none;
  background: none;
  color: white;
  font-size: 26px;
}