.app-wrapper {
  background: #272727;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance {
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}

.app-logo {
  width: 180px;
  display: inline-block;
  margin-inline-end: 8px;
  object-fit: contain;
}

.loading-text {
  font-size: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
}

.content-wrapper {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.header {
  border-bottom: 1px solid #ffffff44;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
}

.header button {
  width: 40px;
  height: 100%;
  border: none;
  background: #ffffff44;
  color: white;
  font-size: 26px;
}