@use "../../tokens/mixins" as *;

.panelCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-4xl) var(--spacing-xl);
  overflow: clip;
  border: var(--stroke-xs) solid var(--border-primary);
  @include smooth-corners(var(--corner-radius-sm));
}
