@use "../../tokens/text-styles" as *;
@use "../../tokens/mixins" as *;

.root {
  --alert-text-max-inline-size: 30rem;

  display: flex;
  flex-direction: column;
  @include smooth-corners(var(--corner-radius-md));
  overflow: clip;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-sm);
  min-width: 0;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-md);
  flex: 1;
  flex-wrap: wrap;
  min-width: 0;
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  padding-top: var(--spacing-px);
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1 1 var(--alert-text-max-inline-size);
  min-width: 0;
  max-inline-size: var(--alert-text-max-inline-size);
}

.trailing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  flex-shrink: 0;
  max-inline-size: 100%;
}

.title {
  @include label;
  margin: 0;
  text-wrap: pretty;
}

.description {
  @include body;
  margin: 0;
  text-wrap: pretty;
}

.default,
.warning,
.critical {
  background-color: var(--surface-primary);
  border: var(--stroke-xs) solid var(--border-primary);
  padding: var(--spacing-sm) var(--spacing-md);

  .title {
    color: var(--text-primary);
  }

  .description {
    color: var(--text-secondary);
  }
}

.default {
  .iconWrapper {
    color: var(--icon-primary);
  }
}

.warning {
  .iconWrapper {
    color: var(--icon-warning);
  }

  &.noIcon {
    border-inline-start: var(--stroke-lg) solid var(--text-yellow);
  }
}

.critical {
  .iconWrapper {
    color: var(--icon-critical);
  }

  &.noIcon {
    border-inline-start: var(--stroke-lg) solid var(--border-critical);
  }
}
